html, body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	flex: 1 0 100%;
	margin: 0;
	background: #eee;
	font-size: 1.25rem;
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 2rem;
	margin: 2rem 0;
	font-weight: 400;
}

h2 {
	font-size: 1.75rem;
	font-weight: 400;
}

main {
	flex: 1 0 100%;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin: 0 auto;
	padding: 3%;
}

footer {
	padding: 3%;
	text-align: center;
	background: #fff;
	color: #444;
}

@media screen and (min-width: 56rem) {
	main {
		max-width: 80%;
		padding: 2rem;
		margin: 2rem auto;
	}
	footer {
		padding: 0 2rem 2rem 2rem;
		background: none;
		color: #333;
	}
	h1:first-child {
		margin-top: 0;
	}
}

form {
	margin: 4rem 0;
	display: flex;
	flex-direction: column;
}

fieldset {
	border: 0;
	padding: 0.01em 0 0 0;
	margin: 0;
	min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
	display: table-cell;
}

legend {
	padding: 0;
	margin: 0 0 1rem 0;
	display: table;
	font-weight: 300;
}

legend h2 {
	margin: 0;
}

fieldset > div {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: stretch;
	margin-bottom: 4rem;
}

fieldset legend strong {
	cursor: pointer;
}

fieldset legend + fieldset {
	margin-top: 0;
}

fieldset fieldset label {
	position: relative;
	display: grid;
	align-items: stretch;
	font-weight: 100;
}

fieldset fieldset input[type='radio'] {
	position: absolute;
	top: 1rem;
	opacity: 0;
}

fieldset fieldset input[type='radio'] + span {
	padding: 0.5rem;
	text-align: center;
	display: grid;
	align-items: center;
	border: 0.2rem solid transparent;
	cursor: pointer;
	-webkit-user-select; none;
	user-select: none;
}

fieldset fieldset input[type='radio']:focus + span {
	outline: 0.2rem dotted #382c63;
}

fieldset fieldset input[type='radio']:focus:not(:focus-visible) + span {
	outline: none;
}

fieldset fieldset input[type='radio']:hover + span {
	background: #ddd8ef;
}

fieldset fieldset input[type='radio']:checked + span {
	border-color: #382c63;
}

table {
	width: 100%;
	border-spacing: 0;
}

th, td {
	padding: 1rem 0.5rem;
}

th {
	text-align: left;
}

td {
	text-align: center;
}

th:first, td:first {
	padding-left: 0;
}

